<!DOCTYPE html>
<html>
<head>
	<title>Pokes</title>
	<link href="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" integrity="sha384-4FeI0trTH/PCsLWrGCD1mScoFu9Jf2NdknFdFoJhXZFwsvzZ3Bo5sAh7+zL8Xgnd" crossorigin="anonymous">
</head>
<body>
<h1 class="inline">Welcome, {{request.session.username}}</h1>
<h2 class="text-right"><a href="{% url 'logout' %}">Logout</a></h2>
<h3>{{count}} people poked you!</h3>

{% for poke in pokes %}
	{% if poke.pokedwho == request.session.logged_in_user %}
		<p class="text-left"><strong>{{poke.user.name}} poked you {{poke.pokes}} times</strong></p>
	{% endif %}
{% endfor %}



<p>People you may want to poke:</p>
<table class="table table-striped table-bordered">
		<tr>
			<th>Name</th>
			<th>Alias</th>
			<th>Email Address</th>
			<th>Poke History</th>
			<th>Action</th>
		</tr>
		{% for user in users %}
			{% if request.session.logged_in_user != user.id %}
			<tr>
				<td>{{user.name}}</td>
				<td>{{user.alias}}</td>
				<td>{{user.email}}</td>
				<td>{{user.pokes}}</td>
				<td>
					<form method="POST" action="{% url 'poke' %}">
					{% csrf_token %}
					<input type="hidden" name="poke" value="{{user.id}}">
					<input class="btn btn-primary" type="submit" name="submit" value="Poke!">
					</form>
				</td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>
	
</body>
</html>